<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <style>
        .shadow{
            box-shadow:3px 3px 10px black;
            padding:30px;
        }
    </style>
</head>
<body>

                <form action="{{ url_for('register') }}" method="POST">
                    <h2 class="page-header text-primary text-center">Registration</h2>
                 
                        <input type="text" name="name" required>
              
                        <input type="email" name="email" required>             
                    
                        <input type="password"  name="password" required>
                        <button type="submit">register</button>
                    </form>
   
</body>
</html>
<script>
    $(document).ready(function(){
        $("form").attr("autocomplete","off");
    });
</script>